/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.direnv
.idea
.devenv/
*.iml
resources/testing-execution.txt
resources/testing.txt
tmp
output.txt
tree*.txt
.attach_pid*